:root {
    --navbar-background-color: rgba(4, 4, 4, 0.8);
    --background-image-height: 900px;

    --base-text-color: white;
    --godotisation-color: #448cc3;

    --title-h1-font-size: 2.5rem; /* 20px * 2.5 = 45px */
    --title-h2-font-size: 1.5rem; /* 20px * 1.5 = 25px */

    --border-raius: 10px;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    font-size: var(--title-h1-font-size);
    color: var(--base-text-color);
}
h2 {
    font-size: var(--title-h2-font-size);
    color: var(--base-text-color);
}
h3 {
    color: var(--base-text-color);
}
h4 {
    color: var(--base-text-color);
    width: 100%;
    text-align: center;
}

li {
    color: var(--base-text-color);
}

#background-image {
    width: 100%;
    height: var(--background-image-height);
}

#navbar {
    background-color: var(--navbar-background-color);
    max-width: 100%;
    min-height: 90px;

    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 10px;
}

#navbar img {
    height: 70px;
    width: auto;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111111;
}

#main-pages-infos {
    width: 100%;
    position: absolute;
    top: calc(var(--background-image-height) / 3);
    align-items: center;
    text-align: center;
}

#button {
    text-decoration: none;
    background-color: var(--navbar-background-color);
    padding: 20px 20px;
    color: white;
    border: solid;
    border-radius: var(--border-raius);
}

#main-pages-infos h1 {
    text-decoration: underline;
    margin-bottom: -15px;
}

#main-pages-infos h2 {
    margin-bottom: 50px;
}

#godotisation {
    background-color: var(--godotisation-color);
    padding: 5px 10px;
    border-radius: var(--border-raius);
}

#new-releases-container {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}
#new-release {
    flex: 1 1 20%;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 35px 35px;
    background-color: black;
}
#new-release:hover {
    background-color: white;
}

#new-release img {
    height: 100%;
    width: auto;
    filter: brightness(50%);
}

#new-release h2 {
    position: absolute;
    color: black;
    text-shadow: 2px 2px 4px white;
    margin-left: 35px;
    margin-bottom: 170px;
    font-size: 2rem;
    width: auto;
}
